.page-header {
  color: #fff;

  background-color: #283645;
}

.main-nav {
  background-color: rgba(0, 0, 0, 0.3);
}

.site-list {
  font-size: 17px;
  line-height: 17px;
}

.page-title {
  font-size: 50px;
  text-align: center;
  color: #ffffff;
}
