.prices {
  background-color: $bg__light-grey;
}

.prices__tarif {
  color: #ffffff;

  background-color: $bg__dark-blue;
  border: solid 2px #283645;
}

.prices__tarif-cost {
  display: block;
}

.prices__feature {
  background-color: #ffffff;
  border: solid 2px #e5e5e5;
  border-collapse: collapse;
}
