.photo-card__user-info {
  font-size: 14px;
  font-weight: 700;
}

.photo-card__pub-time {
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.photo-card__likes {
  color: $text__light-red;
}
